// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$aubergine: #673c4f;
$lightaubergine: #e7e6e6;
$ice: #E7F7FD;
$darkice: #BCECF2;
$paradiso: #528788;
$greyish: #C4C4C4;
$darkgreyish: #868686a0;
$fave: #173741;
