// Specific CSS for your home-page
.allofit {
  background-image: url(upper-background-blurr.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  height: 100vh;
  width: 100%;
  position: fixed;

  img {
    height: 190px;
    margin-top: -175px;
  }

  h6 {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    color: white;
    padding-bottom: 35px;
    margin-top: -52px;
  }

  h1 {
    margin-bottom: 3rem;
    font-size: 30px;
    text-align: center;
    padding-top: 30px;
    color: white;
    text-transform: uppercase;
  }

  .btn-boton {
    width: 400px;
    border-radius: 5px;
    text-align: center;
    // background-color: $paradiso;
    border-radius: 10px;
    color: white;

    &:after {
    background-color: darken(#15544b82, 25%);
  }

  &:before {
    background-color: darken($paradiso, 15%);
  }
  }

  .n {
    color: rgba(255, 255, 255, 0.671);
  }
}

.flexbox-home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: bottom;
  position: relative;
  top: 40%;
  align-items: center;
  padding: 30px
}
