<div class="wholepage">
  <div class="header-logo"></div>
  <div class="outter-box" style="display: block">

  <div class="login">

<h2 class="welcome-title">Forgot your password?</h2>
<p class="welcome-descr">Please put your email below.</p>

<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email,
                required: true,
                autofocus: true,
                placeholder: "Email",
                label: false,
                input_html: { autocomplete: "email" } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Send request", :class => ' btn-paradisio' %>
  </div>
<% end %>

  </div>
</div>
