<header>
  <%= link_to(events_path, class:"back-link") do %>
    <i class="fas fa-angle-left"></i>
  <% end%>
  <div class="header-group">
    <%= link_to(new_event_path, class:"back-link") do %>
        <i class="far fa-plus-square"></i>
    <% end%>
    <%= link_to(events_path, class:"back-link") do %>
      <i class="far fa-user"></i>
    <% end%>
  </div>
</header>
