<br>
<br>
<br>
<%= month_calendar(events: @events, attribute: :start_time, end_attribute: :end_date) do |date, events| %>
  <%= date.day %>
  <% events.each do |event| %>
    <%= link_to event_path(event), class: "text-decoration-none" do %>
    <div>
      <i class="fas fa-users"></i>
    </div>
    <% end %>
  <% end %>
<% end %>
