<div class="">
  <div class="swiper-header">
    <i class="fas fa-angle-double-left"></i>
    <h2>
      Calendar
    </h2>
    <i class="fas fa-angle-double-right"></i>
  </div>
  <%= month_calendar(events: @events, attribute: :start_time, end_attribute: :end_date) do |date, events| %>
    <%= date.day %>
    <% events.each do |event| %>
      <%= link_to event_path(event), class: "text-decoration-none" do %>
      <div>
        <i class="fas fa-users" style="color:transparent"></i>
      </div>
      <% end %>
    <% end %>
  <% end %>
</div>
