<div class="wholepage-new">
  <div class="slidebar">
    <div class="border">
    </div>
  </div>
  <div class="outter-box-big" style="display: block">
    <div class="outter-box" style="display: block">
      <p class="titles"> UPCOMING EVENTS</p>
      <div class="upcoming" style="display: flex">
      <% if events.select{ |event| event.start_time > Date.today}.size == 0 %>
        <p class="p">You have 0 Upcoming events.</p>
      <% else %>
        <% events.each do |event|%>
          <% if event.start_time > Date.today %>
            <%= render "eventcards", event:event %>
          <% end %>
        <% end %>
      <% end %>
      </div>
    </div>
    <div class="outter-box" style="display: block">
      <p class="titles nomargin"> INVITATIONS </p>
      <div class="invitations" style="display: flex">
      <% if invitations.select{ |i| i.event.start_time > Date.today}.size == 0 %>
        <p class="p">You have 0 pending Invitations.</p>
      <% else %>
        <% invitations.each do |i|%>
          <% if i.event.start_time > Date.today %>
            <%= render "eventcards", event:i.event %>
          <% end %>
        <% end %>
      <% end %>
      </div>
    </div>
  </div>
</div>
