<div class="container" style="flex-direction:column">
  <% if invitation && invitation.status == "pending" %>
    <div class="eventcards">
      <%= link_to event_path(invitation.event) do %>
        <div class="img"><img src="" alt="Picture Place"></div>
        <div class="name"><h2><%= invitation.event.name %></h2></div>
      <% end %>
      <%= link_to(accept_path(invitation), method: :patch, :class => 'btn btn-success') do %>
        <p>Accept</p>
      <% end %>
      <%= link_to(reject_path(invitation), method: :patch, :class => 'btn btn-danger') do %>
        <p>Reject</p>
      <% end %>
    </div>
  <% else %>
    <h2>Currently you have 0 pending invitations</h2>
  <% end %>
</div>
