
<div class="event-row">
  <% @uploads.each do |upload| %>
    <div class="event-column">
    <% upload.media.each do |image| %>
      <div class="event-media">
        <%= cl_image_tag (image.key) %>
      </div>
    <% end %>
    </div>
  <% end %>
</div>
