<div class="swiper verticalSwiper">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <%= render "calendar" %>
    </div>
    <div class="swiper-slide">
      <%= render "events_index" %>
    </div>
  </div>
</div>

<script>
  var swiper = new Swiper(".verticalSwiper", {
    direction: "vertical",
    slidesPerView: 1.2,
    initialSlide: 2,
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
  });
</script>
