<%
=begin%>
 <% events = Event.where(id: @invited.pluck(:event_id)) %>
<% invitations = Event.where(id: @invitations.pluck(:event_id)) %>
<div class="wholepage">
  <div class="placeholding"> Calendar </div>
  <div class="outter-box" style="display: block">
    <p class="titles"> UPCOMING EVENTS</p>
    <div class="upcoming" style="display: flex">
    <% events.each do |event|%>
      <% if event.start_time > Date.today %>
        <%= render "eventcards", event:event %>
      <% end %>
    <% end %>
    </div>
    <p class="titles nomargin"> INVITATIONS </p>
    <div class="invitations" style="display: flex">
    <% invitations.each do |event|%>
      <% if event.start_time > Date.today %>
        <%= render "eventcards", event:event %>
      <% end %>
    <% end %>
    </div>
</div>
<%
=end%>
