<div class="swiper verticalSwiper">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <div id="events_calendar">
        <%= render partial: "calendar", locals: {events: @events} %>
      </div>
    </div>
    <div class="swiper-slide">
      <%= render "events_index" %>
    </div>
  </div>
</div>
