
 <div class="swiper mySwiper">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <%= render "upcoming", events:@events %>
    </div>
    <div class="swiper-slide">
      <%= render "invited", invitations:@invitations %>
    </div>
    <div class="swiper-slide">
      <%= render 'calendar' %>
    </div>
  </div>
</div>
