
 <div class="swiper mySwiper">
  <div class="links">
    <%= link_to((destroy_user_session_path), method: :delete, :class => 'btn btn-danger') do %>
      <p>Logout</p>
    <% end%>
  </div>
  <div class="swiper-wrapper">
    <div class="swiper-slide">'
      <%= render "upcoming", events:@events %>
    </div>
    <div class="swiper-slide">
      Invitations
    </div>
    <div class="swiper-slide">
      <%= render 'events/calendar' %>
    </div>
  </div>
  <div class="swiper-pagination"></div>
</div>
