<% events = Event.where(id: @invited.pluck(:event_id)) %>
<% invitations = Event.where(id: @invitations.pluck(:event_id)) %>
<div class="wholepage">
  <div class="placeholding"> Calendar </div>
  <div class="outter-box" style="display: block">
    <div class="upcoming" style="display: flex">
    <% events.each do |event|%>
      <% if event.start_time > Date.today %>
        <%= render "eventcards", event:event %>
      <% end %>
    <% end %>
    </div>
    <div class="invitations" style="display: flex">
    <% invitations.each do |event|%>
      <% if event.start_time > Date.today %>
        <%= render "eventcards", event:event %>
      <% end %>
    <% end %>
    </div>
</div>
