<h3 class="vform-title">Invitations</h3>

<div class="invitations-container">
  <% @all_users.each do |user| %>
    <% unless user == current_user %>
      <div class="invite-container">
        <%= cl_image_tag(user.profile_picture.key, class: "") %>
        <div>
          <p class="nickname"><%= user.nickname %></p>
          <p class="email"><%= user.email %></p>
        </div>
        <% invitation = user.invitations.where(event_id: @event.id).first %>
        <% if invitation %>
          <% if invitation.status == "accepted" %>
            <i class="fas fa-check"></i>
          <% elsif invitation.status == "pending" %>
            <i class="fas fa-history"></i>
          <% elsif invitation.status == "rejected" %>
            <i class="fas fa-times"></i>
          <% end %>
        <% else %>
          <%= link_to(event_invite_path(@event, user), method: :post, remote: true) do %>
            <i class="fas fa-plus"></i>
          <% end %>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
