.attendees {
  display: flex;
  margin-bottom: 5px;
  align-items: center;
  padding-left: 5px;
}

.attendees-list {
  display: flex;
  flex-direction: column;

  .attending {
    padding: 3px;
    margin-bottom: 5px;
    display: flex;
    border: 2px solid #DDDDDD;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    box-shadow: 1px 1px rgba(0, 0, 0, 0.2);
    background-size: cover;
    background-position: center;
    opacity: 0.9;

    .att-avatar {
      padding-left: 70px;
      font-size: 15px;
      text-align: right;
      color: black;
      z-index: 20;
    }
  }
}

.attending {
  padding: 3px;
  display: block;
  border: 1px solid #DDDDDD;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  margin-left: -7px;
  box-shadow: 1px 1px rgba(0,0,0,0.2);
  background-size: cover;
  background-position: center;
  opacity: 0.9;

    .att-avatar {
      font-size: 30px;
      text-align: center;
      color: transparent;
      z-index: 20;
      text-decoration: none !important;
      margin-top: 9px;
    }
  }

  #number {
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 2px;
  }
