body {
  background-color: rgb(139, 53, 53);
  background: asset-url('bg.png');
  background-size: 100%;
  background-position-y: 150px;
  background-repeat: repeat-y;
  font-family: '$body-font', sans-serif;
}

@media screen and (max-width: 400px) {
  div.header {
    height: 40px;
  }

  div.header>img {
    width: 160px;
    height: 80px;
    left: 35px;
  }
  div.footer {
    height: 50px;
  }
}
