body {
    background-color: #fff;
}
main > div {
    position: absolute;
    background: asset-url('bg.png');
    background-repeat: repeat-y;
    width: 75%;
    height: 100%;
    margin-top: 10%;
    opacity: 75%;
}

@media screen and (max-width: 400px) {
  main>div {
    width: 75%;
  }

  div.header {
    height: 40px;
  }

  div.header>img {
    width: 160px;
    height: 80px;
    left: 35px;
  }
  div.footer {
    height: 50px;
  }
}
