body {
    background-color: #fff;
}

main > div {
    position: absolute;
    background: asset-url('bg.png');
    background-repeat: repeat;
    width: 75%;
    height: 100%;
    margin-top: 10%;
}
