body {
  background-color: #fff;
  background: asset-url('bg.png');
  background-repeat: repeat-y;
}

@media screen and (max-width: 400px) {
  main>div {
    width: 75%;
  }

  div.header {
    height: 40px;
  }

  div.header>img {
    width: 160px;
    height: 80px;
    left: 35px;
  }
  div.footer {
    height: 50px;
  }
}
