a {
  text-decoration: none;
}

a:active {
  text-decoration: none;
  color: $aubergine;
}

a:visited {
  text-decoration: none;
}

.btn-boton {
  display: inline-block;
  padding: .75rem 1.25rem;
  border-radius: 20px;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: .15rem;
  transition: all .2s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $aubergine;
    z-index: -2;
  }
  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: darken($aubergine, 15%);
    transition: all .2s;
    z-index: -1;
  }
  &:hover {
    color: #fff;
    &:before {
      width: 100%;
    }
  }
}

.btn-boton:hover, .btn-boton:active {
	box-shadow: 3px 3px darken($ice, 5%), -3px -3px lighten($ice, 10%);
  color: $aubergine;
  text-decoration: none;
	cursor: pointer;
		&::before {
		border: 0px ;
	}
}

.btn-paradisio {
  background-color: $paradiso;
}

.btn-aubergine {
  background-color: $aubergine;
}

.btn-darkgreyish {
  background-color: $darkgreyish;
}

.btn-red {
  background-color: #882424;
}

.btn-green {
  background-color: #3a9c3f;
}

.nbtn {
  border-radius: 1.5rem;
  padding: 0.5rem 1.5rem;

  a {
    text-decoration: none;
    color: inherit;
  }
}

.n-paradiso {
  border-color: $paradiso;
  color: $paradiso;
}

.n-aubergine {
  border-color: $aubergine;
  color: $aubergine;
}

.in-aubergine {
  border-color: $aubergine;
  color: white;
  background-color: $aubergine;
}

.n-darkgreyish {
  border: 0.2rem solid $fave;
  color: $fave;
}

.n-paradiso {
  border: 0.2rem solid $paradiso;
  color: $paradiso;
}
