.container {
  padding-right: 0 !important;
}

.simple-calendar {
  font-weight: 600;
  color: #673c4f;
  opacity: 96%;
  height: 18px;
  position: absolute;
  top: 35%;

  i {
    color: #2d6f6d;
    padding: 5px;
  }

  table {
    border: none;
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 6px;
  }

  th {
    font-weight: 600;
    text-align: left;
    color: $paradiso;
    text-shadow: 1px 1px #b4b4b44d;
    border: 2px #673c4f;
    border-radius: 5%;
    background-color: rgba(128, 128, 128, 0.06);
    opacity: 70%;
    height: 12px;
    width: 12px;
  }

  td {
    font-weight: 600;
    color: $aubergine;
  }

  th,
  td {
    border: none;
    overflow: hidden;
    opacity: 90%;
  }

   .calendar-heading {
     margin-bottom: 10px;
   }

  .day {
    text-align: center;
    text-shadow: 1px 1px #b4b4b44d;
    background-color: rgba(128, 128, 128, 0.129);
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    border-radius: 2px;
    height: 35px

  }

  .wday-0 {}

  .wday-1 {}

  .wday-2 {}

  .wday-3 {}

  .wday-4 {}

  .wday-5 {}

  .wday-6 {}

  .today {
    background-color: #673c4f76;
  }

  .past {
  }

  .start-date {}

  .prev-month {}

  .next-month {}

  .current-month {}

  .has-events {
    border: 2px dotted $aubergine;
    background-color: rgba(128, 128, 128, 0.212);

    i {
      display: none;
    }
  }

  .has-events:hover,
  .has-events:active {
    height: 100px;

    i {
      display: block;
    }
  }
}
