.simple-calendar {
  font-weight: 600;
  color: white;
  opacity: 70%;

  table {
    border: none;
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 10px;
  }

  th,
  td {
    border: none;
    overflow: hidden;
    font-weight: 600;
    color: white;
    opacity: 70%;
  }

   .calendar-heading {
     margin-bottom: 16px;
   }

  .day {
    text-align: center;
    background: rgb(137, 62, 111);
    background: linear-gradient(212deg, rgba(137, 62, 111, 1) 0%, rgba(253, 242, 231, 1) 96%, rgba(237, 229, 235, 1) 100%);
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    border-radius: 7px;
    margin: 7px;

  }

  .wday-0 {}

  .wday-1 {}

  .wday-2 {}

  .wday-3 {}

  .wday-4 {}

  .wday-5 {}

  .wday-6 {}

  .today {
    background: rgb(62, 137, 137);
    background: linear-gradient(146deg, rgba(62, 137, 137, 1) 0%, rgba(253, 242, 231, 1) 0%, rgba(66, 107, 105, 1) 100%);
  }

  .past {
    background: rgb(137, 62, 111);
    background: linear-gradient(67deg, rgba(137, 62, 111, 1) 0%, rgba(253, 242, 231, 1) 96%, rgba(237, 229, 235, 1) 100%);
  }

  .future {}

  .start-date {}

  .prev-month {}

  .next-month {}

  .current-month {}

  .has-events {
    background: rgb(103, 62, 137);
    background: linear-gradient(301deg, rgba(103, 62, 137, 1) 11%, rgba(231, 245, 253, 1) 51%, rgba(66, 81, 107, 1) 93%);
  }
}
