.container {
  padding-right: 0 !important;
}

.simple-calendar {
  font-weight: 600;
  color: white;
  opacity: 96%;
  height: 18px;
  position: absolute;
  top: 35%;

  i {
    color: #8ddef1d1;
  }

  .extrapadding {
    padding: 6px;
    margin-right: -10px;
  }

  .calendar-title {
    padding-left: 6px;
  }

  table {
    border: none;
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 6px;
  }

  th {
    font-weight: 600;
    text-align: left;
    color: #7dfff4;
    text-shadow: 1px 1px 10px #828282;
    border: 2px #673c4f;
    border-radius: 5%;
    background-color: rgba(128, 128, 128, 0.06);
    opacity: 70%;
    height: 12px;
    width: 12px;
  }

  td {
    font-weight: 600;
    color: $aubergine;
  }

  th,
  td {
    border: none;
    overflow: hidden;
    opacity: 80%;
  }

   .calendar-heading {
     margin-bottom: 10px;
   }

  .day {
    text-align: center;
    text-shadow: 1px 1px #b4b4b44d;
    background-color: white;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    border-radius: 2px;
    height: 35px

  }

  .row {
    margin-right: 0;
    margin-left: -15px;
  }

  .wday-0 {}

  .wday-1 {}

  .wday-2 {}

  .wday-3 {}

  .wday-4 {}

  .wday-5 {}

  .wday-6 {}

  .today {
    background-color: #00f18180;
    color: rgb(207, 19, 19);
  }

  .past {
  }

  .start-date {}

  .prev-month {
    background-color: #ffffff3b;
    color: #ffffff59;
  }

  .next-month {
    background-color: #ffffff3b;
    color: #ffffff59;
  }

  .current-month {}

  .has-events {
    border: 3px dotted $paradiso;
    background-color: white;
    opacity: 100%;

    i {
      display: none;
    }
  }

  .has-events:hover,
  .has-events:active {
    height: 100px;

    i {
      display: block;
    }
  }
}

.slidebar {
  color: #bfbfbf;
  font-size: 30px;
  width: 100%;
  align-items: center;
  font-weight: 700;
  text-shadow: 2px 1px 4px #25252554;
  text-align: center;
  padding-bottom: 3px;
}
