.card {
  border: none !important;
}

.card-header {
  border: none !important;
  background-color: transparent !important;
  padding: none !important;
}


.event-card {
  background-color: transparent;
  border: 1px solid rgba(128, 128, 128, 0.533);
  border-radius: 15px;
  margin-left: 11px;

  h2 {
  font-size: 23px;
  padding: 10px;
  color: $paradiso;
  font-family: $body-font;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }
}

.titles {
  margin-top: 45px;
  margin-left: 20px;
  color: $aubergine;
  position: sticky;
  left: 20px;
}

.nomargin {
  margin-top: 15px;
  margin-bottom: 8px;
}

.inpic {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: -66px;
  padding: 10px;
}

.event-date {
  color: #673c4f;
  padding: 13px;
  height: 50px;
  width: 50px;
  background-color: white;
  border-radius: 30%;
  font-size: 13px;
  margin-bottom: 0;
  line-height: 1px;
  text-align: center;
}

.day {
  font-weight: bold;
}

.userpic {
  border-radius: 50%;
  height: 45px !important;
  width: 45px !important;
  box-shadow: 0px 0px 35px rgb(76, 76, 76);
}

.event-host {
  text-align: left;
  color: #2d6f6d;
  margin-bottom: 0;
  padding-left: 1rem;
}

.event-img {
  height: 120px;
  background-size: cover;
  text-decoration: none;
  color: white;
  display: flex;
  background-position: center;
  justify-content: center;
  align-items: center;
  width: 250px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}



.event-details {
  padding: 1rem 0;
}

.event-info {
  i {
    padding-left: 1rem;
    margin-right: 2rem;
    width: 1rem;
  }
  display: flex;
}

#map {
  height: 200px !important;
}

// .event-media {
//   display: flex;
//   flex-wrap: wrap;
// }
// .event-media-image {
//   vertical-align: middle;
//   width: 100%;
//   height: 20vh;
//   object-fit: cover;
// }

// .event-media-column {
//   flex: 50%;
//   max-width: 50%;
// }
