.event {
  position: absolute;
}

.event-header {
  display: block;
  height: 35vh;
  object-fit: cover;
  width: 100%;
  z-index: 1;
  position: sticky;
  top: 0px;
}

.event-description {
  width: 100vw;
  padding: 1.5rem;
  z-index: 10;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  background-color: white;
  margin-top: -5vh;
  position: relative;

  #map {
    border-radius: 1.5rem;
    height: 200px !important;
  }
}

.event-name {
  font-size: 1.5rem;
}

.event-host {
  display: flex;
}

.event-host {
  img {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: grey;
  }

  p {
    color: grey;
    margin-left: 1rem;
    line-height: 2rem;
  }
}

.event-buttons {
  display: flex;
  justify-content: space-around;
  padding-bottom: 0.5rem;

  a {
    width: 30%;
    text-align: center;
  }
}

.event-details {
  padding-top: 1.5rem;
}

.event-info {
  display: flex;
  margin-bottom: 1rem;


  p {
    margin-bottom: 0;
    word-break: break-all;
  }

  .fatgrey {
    font-weight: bold;
    color: grey;
  }
}

.i-container {
  min-width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba($aubergine, 0.2);
  border-radius: 0.5rem;
  margin-right: 0.5rem;

  i {
    transform: scale(1.4);
    padding: 0;
    margin: 0;
  }
}

.tacenter {
  padding-top: 0.55rem;
}
