.flexbox {
  display: flex;
  justify-content: space-between;
  text-align: center;
  .links {
    display: block
  }
}

.flexbox-home {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  margin-top: 48px;

  h1 {
    margin-bottom: 50px;
    font-weight: 800;
    font-style: italic;
    font-family: serif;
    font-size: 60px;
  }

  .links {
    display: block
  }
}

.block {
  display: block;
  overflow: scroll;
}
