div.footer {
    background: url('footer.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 75px;
    width: 100%;
    position: fixed;
    bottom: 0;
}
