div.footer {
    background: asset-url('footer.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 75px;
    width: 100%;
    bottom: 0;
    opacity: 40%;
}
