.vform {
  padding: 0 2rem;
}

.vform-group  {
  background-color: $lightaubergine;
  border-radius: 0.5rem;
  padding-top: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 1rem 0;

  input, textarea {
    border: none;
    background-color: $lightaubergine;
  }

  input:focus, textarea:focus {
    outline: none;
    border: none;
    box-shadow: none;
    background-color: inherit;
  }

  label {
    font-weight: bold;
    color: gray;
    margin-bottom: 0;
  }

  abbr {
    display: none;
  }
}

.form-group {
  margin: 0 !important;
}

.vform-submit {
  margin-top: 1rem;
  border-radius: 0.5rem;
  background-color: $aubergine;
  color: white;
  padding: 1rem 0;
  width: 100%;
  border: 0;
}

.vform-title {
  text-align: center;
  margin-top: 1rem;
}
