header {
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  width: 100vw;
  padding: 0.5rem 0;
  z-index: 100;
  background-color: transparent;
}

.back-link {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 5px black;
  margin: 0 0.5rem;
  color: black;
}

.header-group {
  display: flex;
}
