div.header {
    background: asset-url('header.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 150px;
    width: 100%;
    left: 0;
    top: 0;
}

div.header > img {
    width: 250px;
    height: 150px;
    position: absolute;
    left: 70px;
}
