div.header {
    background: asset-url('header.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 250px;
    width: 100%;
    left: 0;
    top: 0;
}
