.header {
  background: asset-url('header.jpg');
  position: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 90px;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
}

.header a img {
  width: 150px;
  height: 20px;
  position: absolute;
  left: 40px;
  top: 10px;
  opacity: 60%;
}
