.btn-primary {
  width: 200px;
  height: 50px;
  margin: 10px 10px 5px 10px;
  vertical-align: middle;
  color: #fff;
  opacity: 0.5;
  border-radius: 5px;
}

.btn-success {
  width: 200px;
  height: 50px;
  margin: 10px 10px 5px 10px;
  vertical-align: middle;
  padding-top: 10px;
  color: #fff;
  opacity: 0.5;
  border-radius: 5px;
}

.btn-success > p {
  color: #fff;
}

.invite > p {
  float: right;
  padding: 25px 25px 0 0;
  font-size: small
}

.tac {
  display: block;
}
