.btn-primary {
  width: 200px;
  height: 50px;
  margin: 10px 10px 5px 10px;
  vertical-align: middle;
  color: #fff;
  opacity: 0.5;
}

.btn-success {
  width: 200px;
  height: 50px;
  margin: 10px 10px 5px 10px;
  vertical-align: middle;
  color: #fff;
  opacity: 0.5;
}

.btn-success > p {
  color: #fff;;
}

.invite > p {
  float: right;
  padding: 25px 30px 0 0;
  font-size: small
}
