.invitations-container {
  padding: 2rem;
}

.invite-container {
  display: flex;

  img {
    height: 4rem;
    width: 4rem;
    border-radius: 0.5rem;
    margin-right: 1rem;
  }
  margin-bottom: 1rem;

  .nickname {
    font-weight: bold;
    font-size: 1.3rem;
  }

  p {
    margin-bottom: 0;
  }

  i, a {
    margin: auto 0;
    margin-left: auto;
    color: black;
  }
}
