.user-form {
  margin-top: 10vh;
  padding: 0 3rem;
}

.welcome-title, .welcome-descr {
  color: #000;
}

.welcome-title, .welcome-descr {
  text-align: center;
}


.btn-paradisio {
  width: 100%;
  color: #fff;
  border-radius: 5px;
}

.btn-paradisio:hover {
  color: #fff;
  background-color: #173741;
}

.login_links {
  margin-top: 2rem;
  text-align: center;
}

.forgot-password {
  padding: 0px 0 0 0;
}
