.show-container {
  display: flex;
  flex-direction: column;
  margin: 10px;
  align-items: center;
}

.showname {
  color: $aubergine;
  text-align: left;
  margin: 10px;
  font-family: $body-font;
}
