// body {
//   position: relative;
//   height: 100%;
// }

// body {
//   font-size: 14px;
//   margin: 0;
//   padding: 0;
// }

.swiper {
  width: 100vw;
  height: 100vh;
  justify-content: center;
  opacity: 90%;
  background-color: black;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: scroll;
}

.swiper-slide img {
  display: block;
  width: 90%;
  height: auto;
  object-fit: cover;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 10px;
}

.swiper-header {
  margin: 0 auto;
  width: 95vw;
  padding: 1rem 0;
  text-align: center;
  color: #CCCCCC;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  // font-family: 'Times New Roman', Times, serif;
}

.swiper-no-invites {
  text-align: center;
  color: #AAAAAA;
  font-weight: 800;
  // font-family: 'Times New Roman', Times, serif;
}
