// body {
//   position: relative;
//   height: 100%;
// }

// body {
//   font-size: 14px;
//   margin: 0;
//   padding: 0;
// }

.swiper {
  width: 100vw;
  height: 100vh;
  justify-content: center;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  overflow: scroll;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
