.wholepage {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #173741;
}

.placeholding {
  position: relative;
  height: 20%;
}

.outter-box {
  background-color: rgb(255, 255, 255);
  height: 100%;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  display: flex;

  .upcoming {
    overflow-x: scroll;
  }

  .invitings {
    overflow-x: scroll;
  }
}


h4 {
  color: white;
}
