.container {
  padding: 0px 35px !important;
}

.col-6 {
  max-width: 100%;
}

.upcontainer {
  width: 95vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 190px;
  background: transparent;
}

.date {
  text-align: right;
  color: #673c4f;
  margin-bottom: 0;
 }

.eventcards {
  display: flex;
  flex-direction: column;
  background-color: $ice;
  border: 0.5px solid rgba(128, 128, 128, 0.505);
  border-radius: 0.5rem;
  margin-bottom: 20px;
}

.mapcards {
  display: flex;
  flex-direction: column;
  background: #00000015;
  border: 0.5px solid rgba(128, 128, 128, 0.505);
  height: 150px;
  padding: 0px;
}

.img {
  height: 120px;
  margin: 10px;
}

.name {
  margin: 10px;
  text-align: center;
  color: #673c4f;
  font-family: $body-font;
}

h2 {
  font-size: 4vw;
  text-align: center;
}

.name:hover {
  color: #7a7a7a
}
