.wholepage {
  position: absolute;
  width: 100%;
  height: 100%;
}

.wholepage-new {
  width: 100%;
  height: 100%;
  background-color: #173741;
    margin-top: 25px;
}

.placeholding {
  position: relative;
  height: 20%;
}

.outter-box {
  background-color: rgb(255, 255, 255);
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  display: flex;
  overflow-x: scroll;

  .p {
    color: lightgrey;
    margin-top: 25px;
    margin-left: 80px;
  }
}

.outter-box-big {
  background-color: rgb(255, 255, 255);
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  display: flex;
  height: 100%;
}

h4 {
  color: white;
}
