.upload-container {
  z-index: 100;
  position: relative;
  background-color: white;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.uploads {
  a {
    width: 33.3vw;
    height: 33.3vw;
    padding: 0.1rem;
  }

  a:nth-child(4) {
    width: 66.6vw;
    height: 66.6vw;
  }

  a:nth-child(10) {
    width: 100vw;
    height: 100vw;
  }
}

.f-left {
  a {
    float: left;
  }
}

.f-right {
  a {
    float: right;
  }
}

.newuploadcontainer {
  margin-top: 15vh;
  text-align: center;

  h1 {
    margin-bottom: 5vh;
  }

  input {
    margin: 1rem 0;
  }
}
