<div class="swiper mySwiper">
  <div class="swiper-wrapper">
    <% @uploads.each do |upload| %>
      <% upload.media.each do |image| %>
        <div class="swiper-slide" id="<%= image.key %>"><%= cl_image_tag (image.key) %></div>
      <% end %>
    <% end %>
  </div>
  <div class="swiper-pagination"></div>
</div>

<script>
var urlString = window.location.href
var url = new URL(urlString);
var index = new Number(url.searchParams.get("query"));
index += 1

  var swiper = new Swiper(".mySwiper", {
    slidesPerView: 1,
    spaceBetween: 30,
    loop: true,
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
  });
swiper.slideTo(index)

    </script>
