<br>
<br>
<br>
<br>
<div class="container">
  <%= simple_form_for [ @event, @upload ]  do |f| %>
    <%= f.file_field :media, :multiple => true  %>
    <%= f.submit class: "btn btn-primary" %>
  <% end %>
</div>
